/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: center;
}

/* Formulario */
form {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table thead tr {
    background-color: #0078D7;
    color: white;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

table tbody tr:hover {
    background-color: #e1f5fe;
}

img {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botones */
input[type="submit"] {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005bb5;
}

select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Enlace de "AÑADIR CONTENIDO" */
.button-link {
    display: inline-block;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #218838;
}

/* Título */
h1 {
    color: #0078D7;
    font-size: 24px;
    margin-bottom: 20px;
}
